<nav class="navbar navbar--{{ color }}">
    <a class="navbar__logo" href="{{ '/' | url }}">
        {{ settings.name }}
    </a>

    <ul class="menu list list--unstyled">
    {# sort(false, false, 'data.nav.order') #}
        {% for nav_item in collections.nav | sortByOrder  %}
            <li class="menu__item">
                <a class="menu__link {% if page.url == nav_item.page.url %} menu__link--active {% endif %}" href="{{ nav_item.page.url }}">
                    {{ nav_item.data.nav.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>