<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ '/styles/general.css' | url }}"/>
    <link rel="stylesheet" href="{{ '/styles/card.css' | url }}"/>

    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <ul class="">
            {% for nav_item in collections.nav_items %}
                <li>
                    <a class="{% if page.url == nav_item.page.url %} active {% endif %}" href="{{ nav_item.page.url }}">
                        {{ nav_item.data.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    {{ content | safe }}
</body>
</html>