---
nav:
    title: Home
    order: 1
title: 'PGM'
subtitle: 'Graduaat Programmeren'
image: 'afbeelding_home.png'
tags: nav
---

{% extends "input/_layouts/grid.njk" %}

{% block left %}
    {{ 'Hello' | wrapWithSpan | safe }}

    <article class="block block--secondary">
        <h2 class="title">
            Wat is graduaat programmeren
        </h2>

        <p>
            Tijdens het Graduaat Programmeren leer je het zichtbare (front-end) en onzichtbare (backend) deel van web- en mobiele toepassingen ontwikkelen.
        </p>

        <p>
            Je wordt specialist in JavaScript, HTML, CSS en vult jouw skills aan met o.a. PHP, Python, UI/UX. Naast deze technische kant, vergaar je ook algemene ICT-skills.
        </p>

        <p>
            Je leert ook hoe digital agencies werken en wat jouw rol hierbinnen zal zijn.
        </p>
    </article>
{% endblock left %}

{% block bottom %}
    <section>
        <article class="block block--centered block--contained">
            <h2 class="title">
                Wat zal je leren?
            </h2>

            <p>
                In het Graduaat Programmeren leer je programmeren en staat front-end web development centraal. Jouw lessen worden doorspekt met interactieve oefeningen. Je krijgt opdrachten om nieuwe leerstof snel onder de knie te krijgen. Werkplekleren en jouw stage zijn samen goed voor meer dan 1.200 uur aan praktijkervaring. Hierna ben je meer dan klaar voor de arbeidsmarkt.
            </p>
        </article>
    </section>
{% endblock bottom %}